
.container{
  display: flex;
  margin: 5%;
}

.leftSide{
  width: 40%;
  margin: 2%;
  /* display: flex;
  flex-direction: column; */
}

.leftSide h1{

  font-size: 4rem;
  margin-left: 10%;
  font-weight: 300;
}

.leftSide h3{
  font-size: 2rem;
  margin-top: 3%;
  margin-bottom: 6%;
  margin-left: 10%;
  font-weight: 300;

}

.note{
  background-color: white;
  margin: 8%;
  padding: 4%;
  border-radius: 20px;
}

.rightSide{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5%;
}

#btn{
  display: flex;
  font-size: 2rem;
  width: 100%;
  margin: 2% 12%;
  padding: 0;
  border-radius: 40px;
}

.idno{
  background-color: #d6dfcc;
  padding: 2% 6%;
  border-radius: 40px;  
}

.btn_label{
  background-color: white;
  width: 100%;
  padding: 2%;
  border-radius: 40px;

}