.App {
    text-align: center;
  }
  
  .exercise-section {
    margin-bottom: 20px;
  }
  
  .button-section {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer  
  
  }